:root {
  --vite: #a855f7;
  --tailwind: #0ea5e9;
  --react: #38bdf8;
  --git: #f87171;
  --next: #64748b;
  --javascript: #f59e0b;
  --html: #fe5225;
  --css: #306af1;
  --express: #93c745;
  --redux: #7e57c2;
  --postgresql: #0277bd;
  --sequelize: #03afef;
  --node: #4caf50;
}
.react {
  color: var(--react);
  background: var(--react);
}

.tailwind {
  color: var(--tailwind);
  background: var(--tailwindt);
}
.vite {
  color: var(--vite);
  background: var(--vite);
}
.git {
  color: var(--git);
  background: var(--git);
}
.next {
  color: var(--next);
  background: var(--next);
}
.javascript {
  color: var(--javascript);
  background: var(--javascript);
}
.html {
  color: var(--html);
  background: var(--html);
}
.css {
  color: var(--css);
  background: var(--css);
}
.express {
  color: var(--express);
  background: var(--express);
}
.redux {
  color: var(--redux);
  background: var(--redux);
}
.postgresql {
  color: var(--postgresql);
  background: var(--postgresql);
}
.sequelize {
  color: var(--sequelize);
  background: var(--sequelize);
}
.node {
  color: var(--node);
  background: var(--node);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px 24px;
  border-bottom: 3px solid #961d6e;
  color: white;
  margin-bottom: 8px;
  align-self: flex-start;
  /* justify-self: flex-start; */

  /* margin-bottom: auto; */
}

.nav__a {
  text-decoration: none;
  color: #ffffffd8;
  font-weight: 700;
  font-size: 1.2em;
  padding: 4px;
  transition: scale 0.3s ease;
}
.nav__a:hover {
  /* color: #961d6e8f; */
  scale: 1.1;
}
.header {
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
}
.header__title {
  color: #ffe742;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  text-shadow: -1px -1px 0 #c7b334, 1px -1px 0 #c7b334, -1px 1px 0 #c7b334,
    1px 1px 0 #c7b334;
  line-height: 0.95em;
}

.header___title--background {
  color: #171321;
  font-size: 3.8em;
  background: #ffe742;
  display: inline-block;
  padding: 0 0.4em;
}
.header__sub__title {
  color: #ffe742;
  text-align: center;
  font-size: 1.8em;
  text-shadow: -1px -1px 0 #c7b334, 1px -1px 0 #c7b334, -1px 1px 0 #c7b334,
    1px 1px 0 #c7b334;
  text-transform: uppercase;

  /* line-height: 1; */
}

.home__container {
  display: flex;
  margin-top: 16px;
  gap: 8px;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
}
.home__parrafo {
  padding: 4px 16px 4px 16px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}
.home__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 2.2em;
  margin-top: 8px;
}
.home__icon {
  width: 2.5em;
  transition: scale 0.3s ease;
}
.home__icon:hover {
  /* width: 2.2em; */
  scale: 1.2;

  cursor: pointer;
}

.home__cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  color: #ffffffc7;
  background: #c7b334;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s ease;
}
.home__download {
  width: 1em;
}
.home__cv:hover {
  scale: 1;
  border-radius: 10px;
  padding: 6px;
  color: #fff;
}
.home__container__img {
  position: relative;
}
.home__img {
  background: #f7edb0;
  display: inline-block;
  border-radius: 10px;
  width: 280px;
}
.sections {
  padding: 16px;
  background: #171321;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.santiago {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  height: 100%;
  align-items: center;
}
.s {
  min-height: 100vh;
  /* Este svh es small viewport height que sirve para que en celular utilice el viewport tomando en cuenta la barra de navegacion para que sea correcta la medida! */
  min-height: 100svh;
}

.sections__titles {
  text-align: center;
  color: #fff;
  /* text-transform: uppercase; */
  font-size: 1.5em;
  margin-bottom: 16px;
}
.sections__titles--projects {
  /* margin-bottom: 32px; */
}
.projects {
  background: #0d314a;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.card {
  width: 95%;
  height: auto;
  border: 1px #ffffff91 solid;
  border-radius: 10px;
  background: #171321;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: scale 0.2s ease;
}
.card:hover {
  scale: 1.01;
}
.card__title {
  color: #fff;
  /* text-transform: uppercase; */
  font-size: 1.3em;
  padding-top: 8px;
  text-align: center;
}

.card__container__content {
  padding-left: 4px;
}
.card__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: filter 0.5s ease;
  transition: width 0.3s ease;
}
.card:hover .card__image {
  filter: grayscale(0%);
}
.card__link {
  text-decoration: none;
  color: #dd65b5;
  font-size: 1em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease, font-size 0.3s ease;
}
.card__link--second {
  margin-left: 8px;
}
.card__link:hover {
  font-size: 1.1em;
  border-bottom: 1px solid #dd65b5;
}
.card__p {
  color: #d3d0d0;
  font-size: 1em;
  text-align: center;
}
.card--last {
  margin-bottom: 32px;
}
.about {
  background: #0d314a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-top: 4px;
}
.tags__tag {
  color: #171321;
  font-size: 0.7em;
  border-radius: 4px;
  padding: 2px;
}
.icon-container {
  font-size: 1em;
  font-weight: 600;
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: none;
}

.icon {
  width: 2em;
  height: 2em;
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 16px;
  justify-items: center;
}

.about__container_p {
  padding: 24px 40px;
  background: #171321;
  border: 1px #ffffff91 solid;
  border-radius: 16px;
}
.about__p {
  color: #d3d0d0;
  font-weight: 300;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}
.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form__input {
  background: none;
  border: none;
  border-bottom: 1px #ffffff96 solid;
  padding: 4px 8px;
  color: #ffffffcc;
  transition: border 0.3s ease-in-out;
}
.form__input:focus-visible {
  background: none;
  outline: none;
  border-bottom: 1px #dd65b5 solid;
  border-radius: 8px;
}
.form__label {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}
.form__button {
  margin-top: 16px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: padding 0.1s ease-in-out;
  background: #dd65b5;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}
.form__button:hover {
  cursor: pointer;
  padding: 12px;
}
.card__links {
  text-align: center;
  margin-top: 8px;
}

/* !!  IDEA para mobile */

@media screen and (min-width: 480px) {
  .home__img {
    width: 320px;
  }
  .home__parrafo {
    width: 90%;
  }
  .icon-container {
    font-size: 1.2em;
  }
  .header__title {
    font-size: 4.6em;
  }
  .header___title--background {
    font-size: 4.2em;
    padding: 0 0.5em;
  }
  .header__sub__title {
    font-size: 2em;
  }
  .card__p {
    font-size: 1.2em;
  }
  .tags__tag {
    font-size: 0.8em;
  }
  .card__link {
    font-size: 1.1em;
  }
  .card__link:hover {
    font-size: 1.2em;
  }
  .about__p {
    font-size: 1.1em;
  }
  .nav__a {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px) {
  .sections__titles {
    font-size: 2em;
  }
  .home__img {
    width: 400px;
  }
  .header__title {
    font-size: 6em;
  }
  .header___title--background {
    font-size: 5.8em;
    padding: 0 0.4em;
  }
  .header__sub__title {
    font-size: 2.8em;
  }
  .home__parrafo {
    font-size: 1.4em;
    width: 70%;
  }
  .card {
    width: 80%;
  }
  .card__title {
    font-size: 1.6em;
  }
  .card__p {
    font-size: 1.4em;
  }
  .icon-container {
    font-size: 1.4em;
  }
  .card__link {
    font-size: 1.4em;
  }
  .card__link:hover {
    font-size: 1.5em;
  }
  .tags__tag {
    font-size: 1em;
  }
  .about__container_p {
    width: 80%;
  }
  .about__p {
    font-size: 1.4em;
  }
  .nav__a {
    font-size: 1.8em;
  }
  .form {
    width: 80%;
  }
  .form__label {
    font-size: 1.3em;
  }
  .form__button {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 960px) {
  .sections__titles {
    font-size: 2.5em;
  }
  .header__title {
    font-size: 7em;
  }
  .header___title--background {
    font-size: 6.8em;
    padding: 0 0.4em;
  }
  .header__sub__title {
    font-size: 3em;
  }
  .home__parrafo {
    font-size: 1.6em;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__container {
    width: 70%;
  }
  .nav__a {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1024px) {
  .sections__titles {
    font-size: 2.5em;
  }
  .home__img {
    width: 350px;
  }
  .header__title {
    font-size: 6em;
  }
  .header___title--background {
    font-size: 5.8em;
    padding: 0 0.4em;
  }
  .header__sub__title {
    font-size: 2.5em;
  }
  .home__parrafo {
    font-size: 1.6em;
    width: 45%;
  }
  .card {
    /* width: 60%; */
    padding: 32px;
    flex-direction: row;
  }
  .card__image {
    filter: grayscale(80%);
    width: 50%;
    margin-right: 24px;
  }
  .about__container_p {
    width: 70%;
  }

  .form {
    width: 70%;
  }
}
