:root {
  --vite: #a855f7;
  --tailwind: #0ea5e9;
  --react: #38bdf8;
  --git: #f87171;
  --next: #64748b;
  --javascript: #f59e0b;
  --html: #fe5225;
  --css: #306af1;
  --express: #93c745;
  --redux: #7e57c2;
  --postgresql: #0277bd;
  --sequelize: #03afef;
  --node: #4caf50;
}
.react {
  color: var(--react);
  background: var(--react);
}

.tailwind {
  color: var(--tailwind);
  background: var(--tailwindt);
}
.vite {
  color: var(--vite);
  background: var(--vite);
}
.git {
  color: var(--git);
  background: var(--git);
}
.next {
  color: var(--next);
  background: var(--next);
}
.javascript {
  color: var(--javascript);
  background: var(--javascript);
}
.html {
  color: var(--html);
  background: var(--html);
}
.css {
  color: var(--css);
  background: var(--css);
}
.express {
  color: var(--express);
  background: var(--express);
}
.redux {
  color: var(--redux);
  background: var(--redux);
}
.postgresql {
  color: var(--postgresql);
  background: var(--postgresql);
}
.sequelize {
  color: var(--sequelize);
  background: var(--sequelize);
}
.node {
  color: var(--node);
  background: var(--node);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: jwf, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* max-width: 800px; */
}
.nav {
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px 24px;
  border-bottom: 3px solid #961d6e;
  color: white;
}

.nav__a {
  text-decoration: none;
  color: #ffffffd8;
  font-weight: 700;
  font-size: 1em;
  padding: 4px;
}
.header {
  line-height: 1.1;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.header__title {
  color: #ffe742;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  text-shadow: -1px -1px 0 #c7b334, 1px -1px 0 #c7b334, -1px 1px 0 #c7b334,
    1px 1px 0 #c7b334;
  line-height: 0.95em;
}
.header___title--background {
  color: #171321;
  font-size: 3.8em;
  background: #ffe742;
}
.header__sub__title {
  color: #ffe742;
  text-align: center;
  font-size: 1.8em;
  text-shadow: -1px -1px 0 #c7b334, 1px -1px 0 #c7b334, -1px 1px 0 #c7b334,
    1px 1px 0 #c7b334;
  text-transform: uppercase;

  /* line-height: 1; */
}
.home__container {
  display: flex;
  margin-top: 16px;
  gap: 8px;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
}
.home__parrafo {
  padding: 4px 16px 4px 16px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}
.home__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 2em; */
  gap: 8px;
  /* flex-direction: column; */
  height: 2.2em;
  margin-top: 8px;
}
.home__icon {
  width: 2.5em;
}
.home__icon:hover {
  width: 2.2em;
}

.home__img {
  background: #f7edb0;
  display: inline-block;
  border-radius: 50%;
  width: 80%;
}
.sections {
  padding: 16px;
  background: #171321;

  width: 100%;
}
.sections--santiago {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.sections__titles {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 16px;
}
.sections__titles--projects {
  /* margin-bottom: 32px; */
}
.projects {
  background: #0d314a;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.card {
  /* padding: 50px; */
  width: 95%;
  height: auto;
  /* ! Altura a checkearrr */
  /* height: 25vh; */
  border: 1px #ffffff91 solid;

  border-radius: 10px;
  background: #171321;
  /* position: relative; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}
.card__title {
  color: #961d6e;
  color: #fae452;
  color: #ffe742;
  color: #fff;

  text-transform: uppercase;
  font-size: 1.3em;
  padding-top: 8px;
  /* display: inline-block; */
  /* padding-left: 4px; */
  /* text-align: center; */
}
/* .card:hover {
  border: 1px #961d6e solid;
} */
.card__container__content {
  /* padding-right: 12px; */

  padding-left: 4px;
}
.card__image {
  width: 100%;
  height: auto;

  border-radius: 10px;
  transition: filter 0.5s ease;
  transition: width 0.3s ease;
  filter: grayscale(100%);
  /* z-index: 2; */
}
.card:hover .card__image {
  filter: grayscale(0%);

  /* width: 80%; */
}
.card__link {
  text-decoration: none;

  color: #dd65b5;

  font-size: 1em;
  transition: color 0.1s cubic-bezier(0.25, 0.32, 0.85, 0.58);
  transition: font-size 0.3s ease;
}
.card__link--second {
  margin-left: 8px;
}
.card__link:hover {
  font-size: 1em;
  color: #fae452;
}
.card__p {
  color: #d3d0d0;
  font-size: 1em;
  text-align: left;
  /* text-wrap: pretty; */
  /* padding: 8px; */
}
.card--last {
  margin-bottom: 32px;
}
.about {
  background: #0d314a;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-top: 4px;
}
.tags__tag {
  color: #171321;
  /* background: #2d5877; */
  font-size: 0.7em;
  border-radius: 4px;
  padding: 2px;
}
.icon-container {
  font-size: 1em;
  font-weight: 600;
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: none;
}

.icon {
  width: 2em;
  height: 2em;
}

.skills__container {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.about__container_p {
  padding: 16px 32px;
  margin-top: 16px;
  background: #171321;
  border: 1px #961d6e solid;
  border-radius: 16px;
}
.about__p {
  color: #d3d0d0;
  /* font-weight: 900; */
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  /* max-width: 80%; */
  /* align-items: center; */
}
.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form__input {
  background: none;
  border: none;
  border-bottom: 1px #ffffff96 solid;
  padding: 4px;
  color: #ffffffcc;
  transition: border 0.3s ease-in-out;
}
.form__input:focus-visible {
  background: none;
  outline: none;
  border-bottom: 1px #dd65b5 solid;
  border-radius: 8px;
}
.form__label {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}
.form__button {
  margin-top: 16px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  /* text-transform: uppercase; */
  transition: padding 0.1s ease-in-out;
  background: #dd65b5;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}
.form__button:hover {
  cursor: pointer;
  padding: 12px;
}
.card__links {
  text-align: center;
  margin-top: 8px;
}

/* !!  IDEA para mobile */
@media screen and (max-width: 500px) {
  .card__image {
    filter: grayscale(00%);
  }
  .icon-container {
    filter: grayscale(00%);
  }
}
@media screen and (max-height: 720px) {
  .sections--santiago {
    /* justify-content: flex-end; */
    /* background: red; */
  }
}
